{% extends "base.jinja" %}

{% block body %}
<html>
<head>


</head>
<style>
a:visited {
   color: white;
   background-color: transparent;
   text-decoration: none;
   text-align: center;
}
.header {
   background-color:#32d34d;
   padding: 30px;
   text-align: center;
}
.header2{
   background-color:#6b69e0;
   padding: 30px;
   text-align: center;
}
.header3{
   background-color: orange;
   padding: 30px;
   text-align: center;
}

</style>

<body>
	

	<div>
	<img src="/static/images/wecode.png" width = "1200" height = "250">
	</div>

	<br>
	<br>
	<br>

	<br>
	<div class="header">
	<p><a   href="https://www.facebook.com/PalTelGroupFoundation/">Visit Code For Palestine Facebook Page </a></p>
	</div>
	<div class="header2">
	<p><a   href="https://www.facebook.com/mohammad.zboun.399">Visit Mohammad Anwer Facebook Page </a></p>

	</div>
	<div class="header3">
	<p><a   href="https://www.facebook.com/majd.messibarghoti">Visit Majd Barghouti Facebook Page  </a></p>
	</div>	
</body>

</html>
{% endblock %}