{% extends "base.jinja" %}

{% block body %}
<body style="bottom: 0;top: 0;background-repeat: repeat-y;">

<div style="/*! background-image:url(/static/images/images.jpg)* /background-repeat: repeat;height: 100%;" height="100%">
<img src="/static/images/images.jpg" width = "100%">

</div>
<div>
<p>Code for Palestine was launched in 2015 to teach programming and leadership skills to high school students to include outstanding students in the West Bank and Gaza Strip.</p><br>
<p>Recognizing that there are not enough students from the Palestinian universities in the fields of science, technology, engineering and mathematics, and lack of some important skills needed for their success in the private sector, Finding solutions to some of these problems in Palestine, and working to raise the culture of entrepreneurship in order to flourish the culture of emerging companies.</p><br>
<p>The Code for Palestine program lasts for three years, starting with the summer vacation that precedes the 10th grade and ends after completing the 11th grade. The program runs several training sessions each year and begins with a two-week summer camp where Stanford University students volunteer as key trainers at the summer camp for two weeks.</p><br>

<p><b>The main objectives of Code for Palestine:</b></p><br>

<p>1.Encourage interest in the fields of computer science, science, technology, engineering and mathematics.</p><br>
<p>2.Building critical and design thinking skills as complementers of programming skills.</p><br>
<p>3.Provide guidance to promising Palestinian students, with a focus on involving women and students in need.</p><br>
<p>4.Promote entrepreneurship by teaching skills to develop thinking skills.</p><br>

<p>Students enroll in the program at the age of 14 and graduate at the age of 16 years. The program participants receive more than 60 hours of annual training through periodic meetings throughout the year, as well as 92 training hours without the intensive training camp for two weeks during the summer vacation. The annual summer camp is held in the West Bank and Gaza simultaneously. Students receive training in design thinking, project management and entrepreneurship, as well as tutorials on programming basics such as
(Python, html, javascript, Design thinking, datamining)</p><br>
</div>
<!-- TODO: implement home page. -->



</body>

<!-- <div style="background-image:url({{ url_for('static', filename='images/bg-01.jpg') }}); height=100%" >
<img src="{{ url_for('static', filename='images/images.jpg') }}">
</div> -->

<!-- TODO: implement home page. -->

{% endblock %}