{% extends "base.jinja" %}
{% block body %}
<form action="/handleform" method="GET">
<div class="form-group">
	Text:<br>
	<textarea name="text" class="form-control"></textarea><br>
</div>
<div class="form-group">
	From:<br>
	<input type="text" name="fromname" class="form-control"><br>
</div>
<div class="form-group">
To:<br>
<input type="text" name="toname" class="form-control"><br>
</div>
<input type="submit" class="btn btn-primary" value="Send Message!">
</form>
{% endblock %}